<div>
    <app-nav-bar-evaluator></app-nav-bar-evaluator>
    <app-side-bar-evaluator></app-side-bar-evaluator>
</div>
<div class="main-container">
    <div class="heading">
      <h1 class="heading__title">Evaluator Dashboard</h1>
      <p class="heading__credits">FYP Management System</p>
    </div>
    <div class="cards">
      <div class="card card-1">
        <div class="card__icon"><i class="fas fa-users"></i></div>
        <h2 class="card__title">Groups</h2>
  
        <p class="card__apply">
          <a class="card__link" href="dummypage.html">More Info <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-2">
        <div class="card__icon"><i class="fas fa-chalkboard-teacher"></i></div>
        <h2 class="card__title">Teachers</h2>
        <p class="card__apply">
          <a class="card__link" href="dummypage.html">More Info <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-3">
        <div class="card__icon"><i class="far fa-handshake"></i></div>
        <h2 class="card__title">Projects</h2>
        
        <p class="card__apply">
          <a class="card__link" href="dummypage.html">More Info <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
     
      
    </div>
  </div>