<div class="mainbody">



  
  <a routerLink="/student-login" class="card education">
       <div class="overlay"></div>
    <div class="circle">
  <img src="../../../assets/student.png">
  <!-- ....... -->
    </div>
    <p>Student</p>
  </a>
  
  
  
  
  
  
  <a routerLink="/teacher-login" class="card credentialing">
       <div class="overlay"></div>
    <div class="circle">
      <img src="../../../assets/teacher.png">
  <!-- ....... -->
  
    </div>
    <p>Teacher</p>
  </a>
  
  
  
  
  
  
  
  
  
  <a routerLink="evaluator-login" class="card wallet">
       <div class="overlay"></div>
    <div class="circle">
      
      <img src="../../../assets/evaluator.png">
  <!-- ......
   -->
    </div>
    <p>Evaluator</p>
  </a>
  
  
  
  
  
  
  
  
  
  
  <a routerLink="admin-login" class="card human-resources">
       <div class="overlay"></div>
    <div class="circle">
       <img src="../../../assets/admin.png">
  <!--  ......... -->
  
    </div>
    <p>Admin</p>
  </a>
  
  </div>