
<div class="main">

   <h1 class="heading-cards">Select Your Intersest</h1>
   
   <div class="card">
   
   <div class="image">
      <img src="../../../assets/WebDevelopmentImage.jpeg">
   </div>
   <div class="title">
    <h1>Web Development</h1>
   </div>
   <div class="des">
    <p>Web development refers to building, creating, and maintaining websites. It includes aspects such as web design, web publishing, web programming, and database management.</p>
   <button>Read More...</button>
   </div>
   </div>
   
   
   <div class="card">
   
   <div class="image">
      <img src="../../../assets/Android-Development-Tools-.jpg">
   </div>
   <div class="title">
    <h1>App development</h1>
   </div>
   <div class="des">
    <p>Application development is the process of creating a computer program or a set of programs to perform the different tasks that a business requires. App Development refers. <br></p>
   <button>Read More...</button>
   </div>
   </div>
   
   
   
   <div class="card">
   
   <div class="image">
      <img src="../../../assets/How-To-Get-Started-In-Game-Development.png">
   </div>
   <div class="title">
    <h1>Game Development</h1>
   </div>
   <div class="des">
    <p>Game development: The act of creating a game; sometimes referred to as “gamedev.” The game development process typically requires input from one or more game designers, artists, programmers, animators, tester</p>
   <button>Read More...</button>
   </div>
   </div>
   
   
   
   <div class="card">
   
   <div class="image">
      <img src="../../../assets/Getting-started-with-iOS-development.jpg">
   </div>
   <div class="title">
    <h1>IOS development</h1>
   </div>
   <div class="des">
    <p>iOS application development is the process of making mobile applications for Apple hardware, including iPhone, iPad and iPod Touch. The software is written in the Swift programming language or Objective-C </p>
   <button>Read More...</button>
   </div>
   </div>
   
   
   
   <div class="card">
   
   <div class="image">
      <img src="../../../assets/How-Companies-are-Using-Artificial-Intelligence.jpg">
   </div>
   <div class="title">
    <h1>Artificial Intelligence</h1>
   </div>
   <div class="des">
    <p>Artificial intelligence (AI) is the ability of a computer or a robot controlled by a computer to do tasks that are usually done by humans because they require human intelligence and discernment.</p>
   <button>Read More...</button>
   </div>
   </div>
   
   
   <div class="card">
   
   <div class="image">
      <img src="../../../assets/data-science-predictions-for-near-future-1024x440.jpeg.optimal.jpeg">
   </div>
   <div class="title">
    <h1>Data science</h1>
   </div>
   <div class="des">
    <p>Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data and apply knowledge and actionable insights</p>
   <button>Read More...</button>
   </div>
   </div>
   
   
   
   <div class="card">
   
   <div class="image">
      <img src="../../../assets/machinelearning.jpeg">
   </div>
   <div class="title">
    <h1>Machine Learning</h1>
   </div>
   <div class="des">
    <p>Machine learning is a method of data analysis that automates analytical model building. It is a branch of artificial intelligence based on the idea that systems can learn from data, identify patterns and make decisions.</p>
   <button>Read More...</button>
   </div>
   </div>
   
   
   
   <div class="card">
   
   <div class="image">
      <img src="../../../assets/Research-Based-Learning-1.jpg">
   </div>
   <div class="title">
    <h1>Research based</h1>
   </div>
   <div class="des">
    <p>The RBL is a didactic technique that aims to connect the teachings in the classroom with techniques and research methodologies that allow students to develop competencies and analysis, reflection, and argumentation skills along with their training.</p>
   <button>Read More...</button>
   </div>
   </div>