<div>
    <app-nav-bar-teacher></app-nav-bar-teacher>
    <app-side-bar-teacher></app-side-bar-teacher>
  </div>
<div class="main-container">
    <div class="heading">
      <h1 class="heading__title">Teacher Dashboard</h1>
      <p class="heading__credits">FYP Management System</p>
    </div>
    <br>
    <br>
    <div class="cards">
      <div class="card card-1">
        <div class="card__icon"><i class="fas fa-users"></i></div>
        <h2 class="card__title">No of Groups: <b></b></h2>
        <h2 class="value_style">{{projectCount}}</h2>
  
        <p class="card__apply">
          <a routerLink="/my-project">More Info <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>

      <div class="card card-3">
        <div class="card__icon"><i class="far fa-handshake"></i></div>
        <h2 class="card__title">Meeting</h2>
        <h2 class="value_style">2</h2>
        
        <p class="card__apply">
          <a class="card__link" href="dummypage.html">More Info <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
       
  