<div class="sidebar" *ngIf="authService.isAuthenticatedUser" >
    
    <ul>
        <li><a routerLink="/teacher-dashboard"> <img src="../../../assets/umt_logo.png" alt="AdminLTE Logo" class="brand-image"><span class="brand-text font-weight-light">UMT</span>  </a></li>
        <hr>
        <li><a routerLink="/teacher-dashboard"><mat-icon class="icons">dashboard</mat-icon><span class="nav-text">Dashboard</span></a></li>
        <li><a routerLink="/my-project"><mat-icon class="icons"> subject</mat-icon><span class="nav-text">My Projects</span></a></li>
        </ul>
</div>



    
