.edit-teacher-details{
    padding-left: 220px;
    padding-right: 20px;
    padding-top: 20px;

    
  
  }
  
  .header_conent{
    width: 100%;
    padding-top: 2em;
    justify-content: baseline;
  
  }mat-form-field{
    width: 65%;
  
  }

  .btn{
      width: 35%;
  }
  .approve-btn{
      width: 100%;
  }
  .map-card{
    width: 100%;
  }
  .main-card{
    width: 60%;
  }
  .img-card{
    width: 100%;
    
  }

 
  
  
  mat-icon{
    color: black;
  }
  
  

  