.main-content-container{
    padding-top: 20px;
    padding-left: 240px;
    padding-right: 25px;
    }
.header_conent{
    padding-top: 3em !important;
}
table {
    width: 100%;

  }


  @media screen and (max-width: 768px) {
    .main-content-container{
        padding-left: 90px;
        
    }

    table {
        width: 100%;
   
      }
}