<div class="sidebar"*ngIf="authService.isAuthenticatedUser" >
    
    <ul>
        <li><a routerLink="/evaluator-dashboard"> <img src="../../../assets/umt_logo.png" alt="AdminLTE Logo" class="brand-image"><span class="brand-text font-weight-light">UMT</span>  </a></li>
        <hr>
        <li><a routerLink="/evaluator-dashboard"><mat-icon class="icons">dashboard</mat-icon><span class="nav-text">Dashboard</span></a></li>
        <li><a routerLink="/evaluate-project"><mat-icon class="icons">bookmark_border</mat-icon><span class="nav-text">Projects</span></a></li>
        </ul>
</div>



    
